<html lang="en"><head>
    <title>Department Portal</title>
    <meta charset="utf-8">    
    <meta name="google" content="notranslate">
    <link rel="shortcut icon" href="Assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    
</head>
<body style="background:#f0f0f0">
    <div class="container" style="background:white">
        <div class="row">
            <div class="col-md-12" style="margin:0px;box-shadow:0px 0px 10px 0px #888888;">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <img src="static/images/VTULogo.png" width= "1200px" alt="VTU Logo" class="img-responsive">
                        </div>
                        <div class="row">
                            <nav class="navbar navbar-inverse" style="border-radius:0px;margin-bottom:0px;">
                                <h2 align="center" style="color: white">WELCOME TO DEPARTMENT PORTAL</h2>
                                <div class="container-fluid">
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-left">
                                            
                                            
                                        </ul>
                                    </div> 
                                </div> 
                            </nav>
                        </div> 
                        <div class="row" style="margin-bottom:1em;">
                            <div class="col-md-12" style="background-color:#EE833587;padding:4px;">
                                <marquee scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();">
                                    <span class="badge badge-success">!!!</span> <b style="color:#5a1fa9;">DATABASE MANAGEMENT SYSTEMS MINI PROJECT GOVERNMENT ENGINEERING COLLEGE RAMANAGARA</b>&nbsp;&nbsp;
                                </marquee>
                            </div>
                        </div>
                    </div>
                </div>		
                <!--<div class="row">
                    <div class="col-md-12">

                    </div>
                </div>-->
                
                    
                    
                    <div class="col-md-12">
                        <div class="panel panel-info" style="box-shadow:0px 0px 20px #dff0d8;">
                            <div class="panel-heading">
                                <h2 class="panel-title" style="font-size:16px;"><b>Access records</b></h2>
                            </div>
                            <div class="panel-body" style="margin-bottom:5px;padding-bottom:0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="panel panel-success" style="box-shadow:0px 0px 20px #dff0d8;">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title" style="font-size:14px;"><b>Student</b></h3>
                                                </div>
                                                <div class="panel-body">
                                                    <ul style="line-height:2em;">
                                                        <li class=""><a class="nav-link" href="/search" style="text-decoration:none;font-size:16px;color:darkgreen;" target="_blank"><b>Search Student Records</b></a></li>
                                                        <li class=""><a class="nav-link" href="/studentdetail" style="text-decoration:none;font-size:16px;color:darkgreen;" target="_blank"><b>View All Student Details</b></a></li>
                                                        <li class=""><a class="nav-link" href="/searching" style="text-decoration:none;font-size:16px;color:darkgreen;" target="_blank"><b>Search Records by Value</b></a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>